@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
    font-family: heading;
    src: url("/fonts/Ambystoma_Mexicanum.otf") format("opentype");
}

.heading-font {
    font-family: heading;
}

@font-face {
  font-family: sub-heading;
  src: url("/fonts/Rye-Regular.ttf") format("truetype");
}

.sub-heading-font {
  font-family: sub-heading;
}

@font-face {
    font-family: body;
    src: url("/fonts/Anaheim-VariableFont_wght.ttf") format("opentype");
}

.body-font {
    font-family: body;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
  }
  .frame-image { /* or target the img tag directly if you prefer */
    width: 100%;
    height: 100%;
    object-contain: contain; /* or cover, depending on how you want the frame to fit */
}

@keyframes rotate-bg {
    from {
      transform: rotate(0deg) scale(2.5);
    }
    to {
      transform: rotate(360deg) scale(2.5);
    }
  }
  
  .animate-rotate-bg {
    animation: rotate-bg 15s linear infinite;
  }
  
  input::placeholder {
  font-family: "Rye", serif;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

  